@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family: 'Raleway', 'sans-serif';
    line-height: 2.5em;
    font-weight: 900;
    background-image: url('../images/bg-image.jpeg');
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
     position: fixed;
     /* Set the navbar to fixed position */
     top: 0;
     /* Position the navbar at the top of the page */
     width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.our-content{
      font-family: 'Raleway','sans-serif';
    max-width: 600px;
     padding-top: 20px;
    margin: auto;
    line-height: 2.5em;
    font-weight: 900;
}
.active {
    background-color: orange;
}