@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    font-family: 'Raleway', 'sans-serif';
    max-width: 600px;
    margin: auto;
    padding-top: 20px;
}
/* .our-content{
    font-family: 'Raleway', 'san-serif';
    line-height: 2.5em;
    font-weight: 900;
    max-width: 600px;
    margin: auto;
    padding-top: 71px;
    padding-bottom: 80px;
} */